In [1]:


from lxml import etree
import pandas as pd

In [2]:
# Load and parse the TMX file

xml_tree = etree.parse("ar-entxt.txt")

In [3]:
trans_units = xml_tree.findall(".//tu")

In [4]:
source_texts = []
target_texts = []
for trans_unit in trans_units:
    tuv1 = trans_unit.findall(".//tuv")[0]
    tuv2 = trans_unit.findall(".//tuv")[1]
    source = tuv1.findall(".//seg")[0]
    target = tuv2.findall(".//seg")[0]
    
    source_text = ''.join(source.itertext())
    target_text = ''.join(target.itertext())

    source_texts.append(source_text)
    target_texts.append(target_text)

In [27]:
df = pd.DataFrame(list(zip(source_texts, target_texts)), columns =['Source', 'Target'])

In [36]:
df

,Source,Target
0,القرار 55/100,RESOLUTION 55/100
1,اتخذ في الجلسة العامة 81، المعقودة في 4 كانون ...,"Adopted at the 81st plenary meeting, on 4 Dece..."
2,المؤيدون: الاتحاد الروسي، إثيوبيا، الأرجنتين، ...,"In favour: Afghanistan, Algeria, Angola, Antig..."
3,الممتنعون: أذربيجان، إسبانيا، أستراليا، إستوني...,"Abstentions: Albania, Andorra, Australia, Aust..."
4,55/100- احترام حق الجميع في حرية السفر والأهمي...,55/100. Respect for the right to universal fre...
...,...,...
63847,13 - ترحب في هذا الصدد باقتراح برنامج الأمم ال...,"13. Welcomes, in this regard, the proposal by ..."
63848,14 - تطلب إلى برنامج الأمم المتحدة الإنمائي أن...,14. Requests the United Nations Development Pr...
63849,15 - تطلب إلى الأمين العام أن يواصل جهوده في ت...,15. Requests the Secretary-General to continue...
63850,16 - تطلب إلى منسق الأمم المتحدة للتعاون الدول...,16. Requests the United Nations Coordinator of...
63851,17 - تطلب إلى الأمين العام أن يقدم إلى الجمعية...,17. Requests the Secretary-General to submit t...

# Connect To DataBase

In [7]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sunny\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\sunny\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [72]:
import mysql.connector

mydb = mysql.connector.connect(user='root', password='pass123',
                              host='localhost', database='test',
                              auth_plugin='mysql_native_password')

In [81]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE langauge (Source TEXT, Target TEXT)")

In [84]:
for _, row in df.iterrows():
    sql = "INSERT INTO test.langauge(Source, Target) VALUES (%s, %s)"
    mycursor.execute(sql, (row['Source'], row['Target']))
    mydb.commit()